[submodule "dependencies/chisel3.git"]
	path = dependencies/chisel3
	url = git@github.com:chipsalliance/chisel3
[submodule "dependencies/chiseltest.git"]
	path = dependencies/chiseltest
	url = git@github.com:ucb-bar/chiseltest
[submodule "dependencies/firrtl.git"]
	path = dependencies/firrtl
	url = git@github.com:chipsalliance/firrtl
[submodule "dependencies/treadle.git"]
	path = dependencies/treadle
	url = git@github.com:chipsalliance/treadle
[submodule "dependencies/tilelink"]
	path = dependencies/tilelink
	url = git@github.com:sequencer/tilelink.git
